/*
Theme Name:     turbosponge.co.uk
Theme URI:      http://turbosponge.co.uk
Description:    Child theme of Twenty Thirteen customised for turbosponge.co.uk
Author:         Tim Jones
Author URI:     http://turbosponge.co.uk/about
Template:       twentythirteen
Version:        0.1.0
*/

@import url("../twentythirteen/style.css");

@font-face {
    font-family: 'Visitor';
    src: url('fonts/visitor-tt1-brk-webfont.eot');
    src: url('fonts/visitor-tt1-brk-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/visitor-tt1-brk-webfont.woff') format('woff'),
         url('fonts/visitor-tt1-brk-webfont.ttf') format('truetype'),
         url('fonts/visitor-tt1-brk-webfont.svg#visitor_tt1_brkregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

a, 
a:visited {
    color: #5555ff;
}

a:hover, 
a:hover {
    color: #ff6600;
}

.site {
    background-color: #ffffff;
    border-left: 3px solid #fdd432;
    border-right: 3px solid #fdd432;
}

.site-header {
    background-color: #fffbcf;
    background-image: url('sponge.png');
    background-position: 10px 10%;
    background-size: auto 80%;
    background-repeat: no-repeat;
}

.site-header .site-title {
	font-family: 'Visitor';
}

.site-header .site-title:hover {
	text-decoration: none;
}

.site-header .site-title .turbo {
    color: #5555ff;
}

.site-header .site-title .sponge {
    color: #ff6600;
}

.site-header .site-title .couk {
    font-size: smaller;
    color: #ff6600;
}

.site-description {
    color: #5555ff;
    font-family: 'Visitor';
    font-style: normal;
}
